.index-page__banner__slogan .btn{
    padding: 10px 30px;
    border-radius: 25px;
    font-family: var(--secondary-font);
    background-color: var(--accent-color);
    color: var(--smoky-white);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
     }
    .index-page__banner__slogan .btn:hover{
            background-color: #b30963;
        }

.index-page__cards__main-card__btn>.btn{
    display: flex;
    justify-content: center;
    padding: 5px 5px;
    border-radius: 25px;
    font-weight: 500;
    font-family: var(--secondary-font);
    border: 2px solid var(--accent-color);
    color: var(--primary-color);
    letter-spacing: 1px;
    text-decoration: none;
}
.index-page__cards__main-card__btn>.btn:hover{
    background-color: var(--accent-color);
}

@media screen and (min-width: 768px){
    .index-page__banner__slogan__btn>.btn{
        display: inline-block;
        padding: 15px 60px;
        margin-right: 100px;
    }
    .index-page__cards__main-card__btn>.btn{
        display: inline-block;
        padding: 10px 70px;
    }
}
@media screen and (min-width: 992px) {
    .index-page__banner__slogan__btn>.btn{
        margin-right: 100px;
    }
}
@media screen and (min-width: 1200px) {
    .index-page__banner__slogan__btn>.btn{
        margin-right: 200px;
    }
}
